.contact{
padding-top: 250px;
margin-left: 400px;
  
}

.mail img {
    width: 30px;
    padding-top: 30px;
   margin:10px ;
   border-radius: 5px;
   transition: all 0.3s ease;
   
}

  
  .mail img:hover {
    transform: scale(1.1);
  }

.mail p{
    margin-left: 50px;
    margin-top: -40px;
}
.contact input{
    padding: 15px 100px;
    background-color: transparent;
    color: white;
    
    
}
.inp input{
    padding: 100px;
   
}
.about{
    padding-top: 50px;
}